<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
    <div style="border:none;">
        <div class="page-heading">
            <h1 class="header-text-title" style="margin-left: 1%;"> Order Shipping Details</h1>
        </div>
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="page-heading">
                            <h6 class="header-text-title">Customer & Order Details </h6>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <mat-panel-title>
                            <div class="page-heading">
                                <h6 class="header-text-title">Customer Details </h6>
                                <hr class="hr-color">
                            </div>
                        </mat-panel-title>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <p>CustomerId : {{ShipmentDetails?.OrderDetails?.customerId}}</p>
                                <p>Email : {{ShipmentDetails?.OrderDetails?.email}}</p>
                                <p>MobileNo : {{ShipmentDetails?.OrderDetails?.mobileNo}}</p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <mat-panel-title>
                            <div class="page-heading">
                                <h6 class="header-text-title">Order Details </h6>
                                <hr class="hr-color">
                            </div>
                        </mat-panel-title>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <p>OrderId : {{ShipmentDetails?.OrderDetails?.orderId}}</p>
                                <p>OrderNo : {{ShipmentDetails?.OrderDetails?.orderNo}}</p>
                                <p>OrderDate : {{ShipmentDetails?.OrderDetails?.orderDate}}</p>
                                <p>DeliveryType : {{ShipmentDetails?.OrderDetails?.deliveryType}}</p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <p>PaymentType : {{ShipmentDetails?.OrderDetails?.paymentType}}</p>
                                <p>OrderStatus : {{ShipmentDetails?.OrderDetails?.orderStatus}}</p>
                                <p>PaymentStatus : {{ShipmentDetails?.OrderDetails?.paymentStatus}}</p>
                                <p>Total : {{ShipmentDetails?.OrderDetails?.total}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="page-heading">
                            <h6 class="header-text-title">Address</h6>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <mat-panel-title>
                            <div class="page-heading">
                                <h6 class="header-text-title">Billing Address </h6>
                                <hr class="hr-color">
                            </div>
                        </mat-panel-title>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <p>customerId:1053</p>
                                <p>orderDate:12/11/2022</p>
                                <p>orderNo:DSR1452268</p>
                                <p>email:aryaveer@gmail.com</p>
                                <p>mobileNo:9453693219</p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <p>customerId:1053</p>
                                <p>orderDate:12/11/2022</p>
                                <p>orderNo:DSR1452268</p>
                                <p>email:aryaveer@gmail.com</p>
                                <p>mobileNo:9453693219</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <mat-panel-title>
                            <div class="page-heading">
                                <h6 class="header-text-title">Shipping Address </h6>
                                <hr class="hr-color">
                            </div>
                        </mat-panel-title>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <p>customerId:1053</p>
                                <p>orderDate:12/11/2022</p>
                                <p>orderNo:DSR1452268</p>
                                <p>email:aryaveer@gmail.com</p>
                                <p>mobileNo:9453693219</p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <p>customerId:1053</p>
                                <p>orderDate:12/11/2022</p>
                                <p>orderNo:DSR1452268</p>
                                <p>email:aryaveer@gmail.com</p>
                                <p>mobileNo:9453693219</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
    </div>
</div>