  <div class="card col-sm-12">
    <div class="row gutters">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="background-color: #cccfcd; height: 100%;">
        <form [formGroup]="userForm" novalidate>
          <div class="card-body">
            <mat-card>
                  <mat-card-title>
                    <div class="page-heading">
                      <h6>{{title}}</h6>
                    </div>
                  </mat-card-title>
                <div class="row gutters">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group pt-3">
                      <label for="user">Username</label>
                      <input type="text" id="user"class="form-control" formControlName="username">
                      <div *ngIf="!userForm.controls['username'].valid && (userForm.controls['username'].touched || userForm.controls['username'].dirty)">
                        <div [hidden]="!userForm.controls['username'].errors['required']" style="color: rgb(253, 122, 122);">
                          username is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group pt-3">
                      <label for="email">Email Name</label>
                      <input type="text" id="email" class="form-control" formControlName="emailname">
                      <div *ngIf="!userForm.controls['emailname'].valid && (userForm.controls['emailname'].touched || userForm.controls['emailname'].dirty)">
                        <div [hidden]="!userForm.controls['emailname'].errors['pattern']" style="color: rgb(253, 122, 122);">
                          entered email is not valid 
                        </div>
                        <div [hidden]="!userForm.controls['emailname'].errors['required']" style="color: rgb(253, 122, 122);">
                          emailname is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row gutters">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group pt-3">
                      <label for="phone">Phone Number</label>
                      <input type="text" id="phone" class="form-control" formControlName="phonenumber">
                      <div *ngIf="!userForm.controls['phonenumber'].valid && (userForm.controls['phonenumber'].touched || userForm.controls['phonenumber'].dirty)">
                        <div [hidden]="!userForm.controls['phonenumber'].errors['maxlength']" style="color: rgb(253, 122, 122);">
                          maxlength exceeded
                        </div>
                        <div [hidden]="!userForm.controls['phonenumber'].errors['minlength']" style="color: rgb(253, 122, 122);">
                          minlength required is 10
                        </div>
                        <div [hidden]="!userForm.controls['phonenumber'].errors['required']" style="color: rgb(253, 122, 122);">
                          phonenumber is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group pt-3">
                      <label for="role" style="display: block;">Role</label>
                      <!-- <input type="text" id="role" class="form-control" formControlName="roleassigned"> -->
                      <p-dropdown [options]="roles" id="role" formControlName="roleassigned" placeholder="Select a Role"></p-dropdown>
                      <div *ngIf="!userForm.controls['roleassigned'].valid && (userForm.controls['roleassigned'].touched || userForm.controls['roleassigned'].dirty)">
                        <div [hidden]="!userForm.controls['roleassigned'].errors['required']" style="color: rgb(253, 122, 122);">
                          role is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <button type="submit" class="btn btn-info" [disabled]="!userForm.valid" (click)="submitForm()"> Submit </button>
            </mat-card>
          </div>
        </form>
      </div>
    </div>
  </div>

