<div class="page-heading">
    <h1 class="header-text-title" style="margin-left: 1%;">Appointment List</h1>
  </div>
  <div class="card col-sm-12" style="border:none;">
    <p-table id="customerTable" #dt [columns]="cols" responsiveLayout="scroll" [paginator]="true" [rows]="10"
      [showCurrentPageReport]="true" [value]="appoinmentList"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
      [globalFilterFields]="['_id', 'name', 'email', 'phone']" styleClass="p-datatable-striped">
      <ng-template pTemplate="caption">
        <div class="row">
          <span class="p-input-icon-right ml-5">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search keyword" (input)="applyFilterGlobal($event, 'contains')" />
          </span>
          <span class="p-input-icon-right ml-5">
            <button pButton type="button" label="Add New Appoinment" class="p-button-success"
              [routerLink]="['/appointment/add']" [disabled]="!accessPermission.add"></button>
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">{{col.headers}}</th>
          <th>Options</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-i="rowIndex" let-appoinmentList>
        <tr>
          <td>{{appoinmentList._id}}</td>
          <td>{{appoinmentList.name}}</td>
          <td>{{appoinmentList.email}}</td>
          <td>{{appoinmentList.phone}}</td>
          <td>{{appoinmentList.appointmentDate}}</td>
          <td>{{appoinmentList.startTime}}</td>
          <td>{{appoinmentList.endTime}}</td>
          <td>
            <div class="btn-grp" id="btn-grp">
              <!-- <button class="p-button-primary" pButton type="button" icon="pi pi-eye" style="margin-right:5px">
            </button> -->
              <button class="p-button-warning" pButton type="button" icon="pi pi-user-edit" pTooltip="Edit Appoinment"
                tooltipPosition="bottom" style="margin-right:5px" [routerLink]="['/appointment/edit']"
                [queryParams]="{id:appoinmentList._id}" [disabled]="!accessPermission.edit"></button>
              <button class="p-button-danger" pButton type="button" icon="pi pi-trash" pTooltip="Delete Appoinment"
                tooltipPosition="bottom" style="margin-right:5px"
                (click)="deleteAppoinmentById(appoinmentList._id)" [disabled]="!accessPermission.delete"></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-700" colspan="12">
            No Records Found.
          </td>
        </tr>
      </ng-template>
    </p-table>
    <ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
  </div>