<div class="page-heading">
    <h1 class="header-text-title" style="margin-left: 1%;">Bundle</h1>
  </div>
  <div class="card col-sm-12" style="border:none;">
    <p-table id="customerTable" #dt [columns]="cols" responsiveLayout="scroll" [paginator]="true" [rows]="10"
      [showCurrentPageReport]="true" [value]="categoryList"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
      [globalFilterFields]="['categoryName']" styleClass="p-datatable-striped">
      <ng-template pTemplate="caption">
        <div class="row">
          <span class="p-input-icon-right ml-5">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search keyword" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search by bundle name">
          </span>
          <span class="p-input-icon-right ml-5">
            <button pButton type="button" label="Create Bundle" class="p-button-success"
              [routerLink]="['/bundle/createbundle']"></button>
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">{{col.headers}}</th>
          <th>Options</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-i="rowIndex" let-categoryList>
        <tr>
          <td>{{categoryList._id}}</td>
          <td>{{categoryList.categoryName}}</td>
          <td>
            <img src="http://13.234.29.72:4000/uploads/{{categoryList.image}}" style="width: 50px; height: 50px;">
          </td>
          <td>{{categoryList.basketInfluencersCount}}</td>
          <td>
            <div class="btn-grp" id="btn-grp">
              <!-- <button class="p-button-primary" pButton type="button" icon="pi pi-eye" style="margin-right:5px">
            </button> -->
              <button class="p-button-warning" pButton type="button" icon="pi pi-user-edit" pTooltip="Add Influencers"
                tooltipPosition="bottom" style="margin-right:5px" [routerLink]="['/bundle/addinfluencers']"
                [queryParams]="{categoryName:categoryList?.categoryName}"></button>
                <button class="p-button-info" pButton type="button" icon="pi pi-image" pTooltip="Upload Image"
                tooltipPosition="bottom" style="margin-right:5px" [routerLink]="['/bundle/uploadimage']"
                [queryParams]="{categoryName:categoryList?.categoryName}"></button>
                <button class="p-button-secondary" pButton type="button" icon="pi pi-id-card" pTooltip="Add Influencers using csv"
                tooltipPosition="bottom" style="margin-right:5px"[queryParams]="{id:categoryList?._id}" [routerLink]="['/bundle/addinfluencers_csv']" ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-700" colspan="6">
            No Records Found.
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-700" colspan="10">
            No Records Found.
          </td>
        </tr>
      </ng-template>
    </p-table>
    <ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
  </div>