.content-wrapper {
    width: 65%;
    margin: auto;

    h3 {
        color: #fff;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.3rem;
        letter-spacing: 0.2rem;
    }

    p {
        font-size: 1.4rem;
        font-weight: 500;
        color: #fff;
        line-height: 1.8rem;
    }
}

