:host::ng-deep  {

    .reviewer-dropdown{
        width: 100%;
    }
    .review-dropdown{
        width: 100%;
    }
    .status-dropdown{
        width: 100%;
    }
    .userType-dropdown{
        width: 100%;
    }
}
