<div class="page-heading">
    <h1 class="header-text-title">
      <i pButton class="pi pi-arrow-left p-button-text" [routerLink]="['/appointment']" pTooltip="Back"
        tooltipPosition="bottom">
      </i>{{title}}
    </h1>
  </div>
  <form [formGroup]="appoinmentForm">
    <div class="card col-sm-12">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="h-100 mt-5">
            <div class="card-body">
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mb-2 text-primary">{{title}}</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" formControlName="name">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="text" class="form-control" formControlName="email">
                      </div> 
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="hyperlink">Phone</label>
                    <input type="text" class="form-control" formControlName="phone">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                    <label for="Name">Appointment Date</label>
                    <input type="date" class="form-control" formControlName="appointmentDate">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="time">Start Time</label>
                      <input type="time" id="time" class="form-control" formControlName="startTime">
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="time">End Time</label>
                      <input type="time" id="time" class="form-control" formControlName="endTime">
                    </div>
                  </div>
              </div>
              <div class="row gutters mt-4">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                  <div class="text-right">
                    <button pButton type="button" id="submit" name="submit" class="p-button-danger mr-4"
                      [routerLink]="['/appointment']">Cancel</button>
                    <button pButton type="button" id="submit" name="submit" class="p-button-success" (click)="submit()">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>