:host::ng-deep{
    .roledropdown{
        width:100%
    }
    .p-inputnumber{
        width: 100%;
    }
    label.starlabel::after{
        content: "*";
        color: rgb(228, 28, 28);
    }
    .custom-file-label {
        overflow: hidden;
        white-space: nowrap;
        padding-right: 6em;
        text-overflow: ellipsis;
    }
}