<div class="main-wrapper">
    <!-- <app-authentication></app-authentication> -->
    <!-- <app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
    <div class="bcard body" [ngClass]="sidebarSpacing"> -->
        <!-- <router-outlet></router-outlet> -->
    <!-- </div> -->
    <div *ngIf="check; else other">
   <app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
    <div class="bcard body" [ngClass]="sidebarSpacing">
        <router-outlet></router-outlet>
    </div>
</div>
     <ng-template #other>
        <router-outlet></router-outlet> </ng-template>
</div>