	<div class="page-heading">
		<h1 class="header-text-title" style="margin-left: 1%;">Product</h1>
	</div>
	<div class="card col-sm-12" style="border:none;">
		<p-table id="customerTable" #dt [columns]="cols" responsiveLayout="scroll" [paginator]="true" [rows]="10"
			[showCurrentPageReport]="true" [value]="productList"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
			[globalFilterFields]="['_id', 'name', 'price']" styleClass="p-datatable-striped">
			<ng-template pTemplate="caption">
				<div class="row">
					<span class="p-input-icon-right ml-5">
						<i class="pi pi-search"></i>
						<input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
							placeholder="Search With Product Id" />
					</span>
					<span class="p-input-icon-right ml-5">
						<button pButton type="button" label="Add Product" class="p-button-success"
							[routerLink]="['/product/addProduct']"
							[disabled]="!accessPermission.add"></button>
					</span>
				</div>
			</ng-template>

			<ng-template pTemplate="header" let-columns>
				<tr>
					<th>S.no</th>
					<th *ngFor="let col of columns">{{col.headers}}</th>
					<th>Options</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-i="rowIndex" let-productList>
				<tr>
					<td>{{i+1}}</td>
					<td>{{productList._id}}</td>
					<td>{{productList?.product_Detail?.name}}</td>
					<td>{{productList?.product_Detail?.category}}</td>
					<td>{{productList?.manufacturer?.country_origin}}</td>
					<td>{{productList?.price?.price}}</td>
					<td>{{productList?.product_Detail?.Quantity}}</td>
					<td>{{productList?.product_Detail?.Status}}</td>
					<td>
						<div class="btn-grp">
							<button class="p-button-warning" pButton type="button" icon="pi pi-user-edit" pTooltip="Edit product"
								tooltipPosition="bottom" style="margin-right:5px" [routerLink]="['/product/editProduct']"
								[queryParams]="{id:productList?._id}" [disabled]="!accessPermission.edit"></button>
							<button class="p-button-danger" pButton type="button" icon="pi pi-trash" pTooltip="Delete product"
								tooltipPosition="bottom" style="margin-right:5px" (click)="deleteProduct(productList._id)" [disabled]="!accessPermission.delete"></button>
						</div>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td class="text-center text-danger font-weight-700" colspan="12">
						No Records Found.
					</td>
				</tr>
			</ng-template>
		</p-table>
		<ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
	</div>