<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
    <form>
        <div class="card col-sm-12">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="h-100 mt-5">
                        <div class="page-heading">
                            <h4 class="header-text-title" style="margin-left: 1%;">Product_Region</h4>
                        </div>
                        <div class="card-body">
                            <div class="row gutters">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="name">Country</label>
                                        <input type="text" class="form-control" formControlName="sellerFirstName">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="image">language</label>
                                        <input type="text" class="form-control" formControlName="sellerLastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row gutters">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="name">FirstName</label>
                                        <input type="text" class="form-control" formControlName="sellerFirstName">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="image">LastName</label>
                                        <input type="text" class="form-control" formControlName="sellerLastName">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="hyperlink">Email</label>
                                        <input type="url" class="form-control" formControlName="Email">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">ContactNo</label>
                                        <input type="text" class="form-control" formControlName="ContactNo">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">City</label>
                                        <input type="text" class="form-control" formControlName="City">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">Street</label>
                                        <input type="text" class="form-control" formControlName="Street">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">Landmark</label>
                                        <input type="text" class="form-control" formControlName="Landmark">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">State</label>
                                        <input type="text" class="form-control" formControlName="State">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">Zip_code</label>
                                        <input type="text" class="form-control" formControlName="Zip_code">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">Country</label>
                                        <input type="text" class="form-control" formControlName="Country">
                                    </div>
                                </div>
                            </div>
                            <div class="page-heading">
                                <h4 class="header-text-title">product_Detail</h4>
                            </div>
                            <div class="row gutters">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" formControlName="ProductName">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="image">SKUs </label>
                                        <input type="text" class="form-control" formControlName="SKUs">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">Category </label>
                                        <input type="text" class="form-control" formControlName="Category">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">New </label>
                                        <input type="text" class="form-control" formControlName="Variants">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">Featured </label>
                                        <input type="text" class="form-control" formControlName="Weight">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">visible_individually</label>
                                        <input type="text" class="form-control" formControlName="Quantity">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">Quantity</label>
                                        <input type="text" class="form-control" formControlName="Status">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">status</label>
                                        <input type="text" class="form-control" formControlName="Description">
                                        </div>
                                </div>
                            </div>
                            <div class="row gutters mt-4">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                                    <div class="text-right">
                                        <button pButton type="button" id="submit" name="submit"
                                            class="p-button-danger mr-4"
                                            [routerLink]="['/crm/category']">Cancel</button>
                                        <button pButton type="button" id="submit" name="submit"
                                            class="p-button-success">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>