<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
  <div class="page-heading">
    <h1 class="header-text-title" style="margin-left: 1%;">{{title}}</h1>
  </div>
  <form [formGroup]="ordersForm">
    <div class="card col-sm-12">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="h-100">
            <div class="card-body">
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mb-2 text-primary">Order Details</h6>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <mat-accordion>
                    <mat-expansion-panel expanded="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <div class="page-heading">
                            <h6 class="header-text-title">Customer details</h6>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="customerName">Name</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="customerName">Email</label>
                            <input type="email" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="customerName">Phone</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>

                <!-- product listing start from here ----->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <mat-accordion>
                    <mat-expansion-panel expanded="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <div class="page-heading">
                            <h6 class="header-text-title">Product Details</h6>
                            <hr class="hr-color">
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div *ngIf="ProductList.length>0" class="row gutters">
                        <table>
                          <tr>
                            <th>Product Name</th>
                            <th>Brand</th>
                            <th>Quantity</th>
                          </tr>
                          <tr>
                            <td>Name</td>
                            <td>Id</td>
                            <td>Quantity</td>
                          </tr>
                        </table>
                      </div>
                      <p-dialog header="product List" [modal]="true" [(visible)]="showdialog" 
                      [breakpoints]="{'960px': '75vw'}" [style]="{width: '60vw'}"
                      [draggable]="false" [resizable]="false">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="row gutters">
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label for="product">Products</label>
                            <div class="form-group">
                              <p-dropdown [options]="products" placeholder="Select Products">Product</p-dropdown>
                            </div>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <label for="customerName">Quantity</label>
                            <div class="form-group">
                              <i class="pi pi-plus"></i>
                              <input class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 ml-1 mr-1" type="number">
                              <i class="pi pi-minus"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <ng-template pTemplate="footer">
                          <p-button (click)="showdialog=false"  class="p-button-danger"> Cancel</p-button>
                          <p-button (click)="showdialog=false" class="p-button-success"> Save</p-button>
                        </ng-template>
                  </p-dialog>
                      <div class="row gutters mt-4">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                          <div class="text-right">
                            <button pButton type="button" id="submit" name="submit" class="p-button-secondary mr-4"
                              (click)="showdialog =true">Add Product</button>
                            </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
                <!-- product listing end here -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <mat-accordion>
                    <mat-expansion-panel expanded="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <div class="page-heading">
                            <h6 class="header-text-title">Shipping Address</h6>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="name">PinCode</label>
                            <input type="text" class="form-control" formControlName="shippingPinCode">
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="image">Flat No./House No./Building/Apartment</label>
                            <input type="text" class="form-control" formControlName="shippingFlatNo">
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="image">Area/Street/Sector/Village</label>
                            <input type="text" class="form-control" formControlName="shippingArea">
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="image">Landmark</label>
                            <input type="text" class="form-control" formControlName="shippingLandmark">
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="image">City/Town</label>
                            <input type="text" class="form-control" formControlName="shippingCity">
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="image">State</label>
                            <input type="text" class="form-control" formControlName="shippingStateName">
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <mat-accordion>
                    <mat-expansion-panel expanded="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <div class="page-heading">
                            <h6 class="header-text-title">Billing Address</h6>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                          <div class="form-group">
                            <label for="name">PinCode</label>
                            <input type="text" class="form-control" formControlName="billingPinCode">
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="image">Flat No./House No./Building/Appartment</label>
                            <input type="text" class="form-control" formControlName="billingFlatNo">
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="image">Area/Street/Sector/Village</label>
                            <input type="text" class="form-control" formControlName="billingArea">
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="image">Landmark</label>
                            <input type="text" class="form-control" formControlName="billingLandmark">
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="image">City/Town</label>
                            <input type="text" class="form-control" formControlName="billingCity">
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                          <div class="form-group">
                            <label for="image">State</label>
                            <input type="text" class="form-control" formControlName="billingCity">
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="payment">
                  <mat-accordion>
                    <mat-expansion-panel expanded="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <div class="page-heading">
                            <h6 class="header-text-title">Payment details</h6>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <mat-tab-group mat-align-tabs="start">
                          <mat-tab label="Credit/Debit Card">
                            <div class="row mt-4">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                  <label for="cardNo">Card Number</label>
                                  <input type="text" class="form-control">
                                </div>
                              </div>
                            </div>
                          <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                  <label for="name">Name on card</label>
                                  <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                              <div class="form-group">
                                <label class="form-label">Expiry date</label>
                                <input type="text" class="form-control" placeholder="MM/YY">
                              </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                              <div class="form-group">
                                <label class="form-label">CVV code</label>
                                <input type="text" class="form-control" placeholder="CVV">
                              </div>
                            </div>
                          </div>
                            
                          </mat-tab>
                          <mat-tab label="UPI">
                            <div class="row mt-4">
                              <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-12">
                                <div class="form-group">
                                  <label for="email">Email Address</label>
                                  <input type="text" class="form-control">
                                </div>
                              </div>
                            </div>
                            <div class="row mt-4">
                              <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-12">
                                <div class="form-group">
                                  <label for="phone">Mobile number</label>
                                  <input type="text" class="form-control">
                                </div>
                              </div>
                            </div>
                          </mat-tab>
                          <mat-tab label="Paypal">
                            <div class="row mt-4">
                              <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-12">
                                <div class="form-group">
                                  <label for="email">Email Address</label>
                                  <input type="text" class="form-control">
                                </div>
                              </div>
                            </div>
                          </mat-tab>
                        </mat-tab-group>
                      </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
              <div class="row gutters mt-4">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                  <div class="text-right">
                    <button pButton type="button" id="submit" name="submit" class="p-button-danger mr-4">Cancel</button>
                    <button pButton type="button" id="submit" name="submit" class="p-button-success"
                     >Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
