<div class="login-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>SIGNUP</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Full Name" formControlName="name">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Confirm-Password" formControlName="confirm_password">
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="primary" class="btn-block" (click)="onSubmit()">Signup</button>
    </form>
    <div class="signup-container">
      <p>Already a User? <a routerLink="/login">LOGIN</a></p>
    </div>
  </mat-card>
</div>
