<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
	<div class="card col-sm-12" style="border:none;">
		<p-table id="customerTable" #dt [columns]="cols" responsiveLayout="scroll" [paginator]="true" [rows]="10"
			[showCurrentPageReport]="true" [value]="moviesList"
			[resizableColumns]="true"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
			[globalFilterFields]="['title', 'length', 'isActive']" styleClass="p-datatable-striped">
			<ng-template pTemplate="caption">
				<div class="row">
					<span class="p-input-icon-right ml-5">
						<i class="pi pi-search"></i>
						<input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
							placeholder="Search by title and  length" />
					</span>
					<span class="p-input-icon-right ml-5">
						<button pButton type="button" label="Add Movie" class="p-button-success"
							[routerLink]="['/product/addcategory']"></button>
					</span>
				</div>
			</ng-template>

			<ng-template pTemplate="header" let-columns>
				<tr>
					<th>S.no</th>
					<th *ngFor="let col of columns">{{col.headers}}</th>
					<th>Options</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-i="rowIndex" let-categoryList>
				<tr>
					<td>{{i+1}}</td>
					<td>{{categoryList?.title}}</td>
					<td>{{categoryList?.director}}</td>
					<td>{{categoryList?.releaseyear}}</td>
					<td>{{categoryList?.length}}</td>
					<td>{{categoryList?.isActive}}</td>
					<td>
						<div class="btn-grp">
							<button class="p-button-warning" pButton type="button" icon="pi pi-user-edit" pTooltip="Edit movie"
								tooltipPosition="bottom" style="margin-right:5px" [routerLink]="['/product/editcategory']"
								[queryParams]="{id:categoryList?.id}" disabled="true"></button>
							<button class="p-button-danger" pButton type="button" icon="pi pi-trash" pTooltip="Delete movie"
								tooltipPosition="bottom" style="margin-right:5px" (click)="deleteCategory(categoryList)"
								disabled="true"></button>
						</div>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td class="text-center text-danger font-weight-700" colspan="12">
						No Records Found.
					</td>
				</tr>
			</ng-template>
		</p-table>
		<ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
	</div>
</div>