<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
    <div class="page-heading">
        <h1 class="header-text-title" style="margin-left: 1%;">Customers</h1>
    </div>
    <div class="card col-sm-12" style="border:none;">
        <p-table id="customerTable" #dt [value]="orderData" [columns]="cols" responsiveLayout="scroll"
            [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [responsive]="true"
            [globalFilterFields]="['email', 'phone', 'role', 'status']" styleClass="p-datatable-striped">

            <ng-template pTemplate="caption">
                <div class="row">
                    <span class="p-input-icon-right ml-5">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>S.No</th>
                    <th *ngFor="let col of columns">{{col.headers}}</th>
                    <th>Options</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-i="rowIndex" let-order>
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{order.id}}</td>
                    <td>{{order.name}}</td>
                    <td>{{order.image}}</td>
                    <td>{{order.hyperlink}}</td>
                    <td>{{order.position}}</td>
                    <td>{{order.position}}</td>
                    <td>{{order.parent_id}}</td>
                    <td>{{order.parent_name}}</td>
                    <td><button class="p-button-primary" pButton type="button" icon="pi pi-eye"
                            style="margin-right:5px">
                        </button>
                        <button class="p-button-warning" pButton type="button" icon="pi pi-user-edit"
                            pTooltip="Edit Customer" tooltipPosition="bottom" style="margin-right:5px"></button>
                        <button class="p-button-danger" pButton type="button" icon="pi pi-trash"
                            pTooltip="Delete Customer" tooltipPosition="bottom"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <ngx-ui-loader [fgsColor]="'#000000'" [fgsType]="fgsType"></ngx-ui-loader>
    </div>
</div>