<app-header (toggleSidebar)="onToggleSidebar($event)"></app-header>
<div class="body bcard" [ngClass]="sidebarSpacing">
  <div class="page-heading">
    <h1 class="header-text-title" style="margin-left: 1%;">Edit Lead</h1>
  </div>
  <div class="card" style=" height: 100%;">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center " style="background-color: #cccfcd; height: 100%;">
      <div class="card-body " style="max-width: 950px;">
        <form [formGroup]="leadForm" novalidate>
          <mat-card>
            <mat-card-title>
              <div class="page-heading">
                <div class="d-flex justify-content-between">
                  <h5 class="pt-2">Lead Details</h5>
                  <button type="submit" class="btn btn-info" [routerLink]="['/leads/leadslist']"> Back </button>
                </div>
              </div>
            </mat-card-title>
            <div class=" d-flex justify-content-center ml-4 pl-4">
              <div>

                <div class="row ">
                  <div class="form-group pt-3 px-3 col-5">
                    <label for="name" class="col-form-label text-left">Name*</label>
                    <input type="text" id="name" class="form-control" formControlName="leadName">
                  </div>

                  <div class="form-group pt-3 px-3 col-5">
                    <label for="contact" class="col-form-label text-left">Contact No</label>
                    <input type="text" id="contact" class="form-control" formControlName="contactNumber">
                  </div>
                </div>


                <div class="row">
                  <div class="form-group pt-3 col-8">
                    <label for="email" class="col-form-label text-left">Email Address</label>
                    <input type="text" id="email" class="form-control" formControlName="emailAddress">
                  </div>

                  <div class="form-group pt-3 col-3">
                    <label for="tech" style="display: block;" class="col-form-label text-left">Technology</label>
                    <p-dropdown styleClass="tech-dropdown" [options]="technologies"  formControlName="technologyRequested" id="tech"
                      placeholder="Select Tech"></p-dropdown>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group pt-3 col-5">
                    <label for="budget" class="col-form-label text-left">Budget</label>
                    <input type="text" id="budget" class="form-control" formControlName="BudgetAmount">
                  </div>

                  <div class="form-group pt-3 col-5">
                    <label for="source" class="col-form-label text-left">Reference Source</label>
                    <input type="text" id="source" class="form-control" formControlName="reference">
                  </div>
                </div>

                <div class="row">
                  <div class=" col-3 form-group pt-3">
                    <label for="country" style="display: block;">Country*</label>
                    <p-dropdown [options]="countries" id="country" optionLabel="text" formControlName="countryName" placeholder="Select Country"
                      styleClass="country-dropdown"></p-dropdown>
                  </div>



                  <div class=" col-2 form-group pt-3 ml-4">
                    <label for="state">State</label>
                    <p-dropdown [options]="stateArray" id="state"  formControlName="stateName" placeholder="Select"
                      styleClass="state-dropdown"></p-dropdown>
                  </div>

                  <div class=" col-3 form-group pt-3">
                    <label for="pincode">Pin Code</label>
                    <input type="text" id="pincode" class="form-control" formControlName="pinCode">
                  </div>

                  <div class=" col-2 form-group pt-3">
                    <label for="city">City</label>
                    <p-dropdown [options]="cityArray" id="city" formControlName="cityName" placeholder="Select"
                      styleClass="city-dropdown"></p-dropdown>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group pt-3 col-3">
                    <label class="col-form-label text-left">Follow-up Date</label>
                    <p-calendar styleClass="date-picker" formControlName="followUpDate"></p-calendar>
                  </div>

                  <div class="form-group pt-3 col-7">
                    <label for="sale" class="col-form-label text-left">Sales Person</label>
                    <input type="text" id="sale" class="form-control" formControlName="salesPersonName">
                  </div>
                </div>

                <div class="form-group pt-3 row">
                  <label for="comment" class="col-2 col-form-label text-left">Comment:</label>
                  <div class="col-8">
                    <textarea [readonly]="leadForm.controls['meetStatus'].value==='Next follow up'" rows="10" formControlName="commentGiven"></textarea>
                    <ng-template [ngIf]="editCondition">
                      <div class="text-right editclass">edited</div>
                       </ng-template>
                  </div>
                </div>

                <div class="row">  
                  <div class="form-group pt-3 col-7">
                    <label for="status" style="display: block;">Status</label>
                    <p-dropdown [options]="statusArray" id="status"  placeholder="Select"
                      styleClass="status-dropdown" formControlName="meetStatus"></p-dropdown>
                  </div>

                  <div  class="form-group pt-2 col-3">
                    <label class="col-form-label text-left">Next Follow-up Date</label>
                    <p-calendar [disabled]="!(leadForm.controls['meetStatus'].value==='Next follow up')||leadForm.controls['meetStatus'].value===''" styleClass="date-picker" formControlName="nextFollowUpDate" placeholder="Select Date"></p-calendar>
                  </div>
                </div>
                
                <ng-template [ngIf]="leadForm.controls['meetStatus'].value==='Next follow up'">
                  <div class="form-group pt-3 row">
                  <label for="comment" class="col-2 col-form-label text-left">New Comment:</label>
                  <div class="col-8">
                    <textarea rows="10" formControlName="newCommentGiven"></textarea>
                    <ng-template [ngIf]="!!leadForm.controls['newCommentGiven'].value">
                   <div class="text-right editclass">edited</div>
                    </ng-template>
                  </div>
                </div>
                </ng-template>
              
                
            </div>
          </div>
          <div class="d-flex justify-content-end "><button type="submit" class="btn btn-info"
            (click)="submit()">
            Submit </button></div>
          </mat-card>
          
        </form>
      </div>
    </div>
  </div>